<!-- _macros.html.j2 -->
{% macro color_table(color_stats) %}
<div class="color-analysis">
  {% for color_data in color_stats %}
    <div class="color-bar">
      <div class="color-bar__fill color-bar__fill--{{ color_data.color_name|lower }}" 
           style="width: {{ color_data.percentage }}%">
      </div>
      <div class="color-bar__text">
        {{ color_data.color_name }}: {{ color_data.count }} ({{ color_data.percentage }}%)
      </div>
      {% if color_data.pip_url %}
        <img src="{{ color_data.pip_url }}" alt="{{ color_data.color_name }} mana" class="color-bar__pip">
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro commander_table(commanders, clickable=false) %}
<table class="table">
  <thead>
    <tr>
      <th class="table__header">Commander</th>
      <th class="table__header">Games Played</th>
      <th class="table__header">Wins</th>
      <th class="table__header">Win Rate (%)</th>
    </tr>
  </thead>
  <tbody>
    {% for commander in commanders %}
    <tr class="table__row">
      <td class="table__cell">
        {% if clickable %}
          <a href="#" class="link" data-commander="{{ commander.name }}">{{ commander.name }}</a>
        {% else %}
          {{ commander.name }}
        {% endif %}
      </td>
      <td class="table__cell">{{ commander.games_played }}</td>
      <td class="table__cell">{{ commander.wins }}</td>
      <td class="table__cell">{{ commander.win_rate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro commander_modal(modal_id="imageModal") %}
<div id="{{ modal_id }}" class="modal">
  <span class="modal__close" id="{{ modal_id }}Close">&times;</span>
  <div>
    <img class="modal__content" id="{{ modal_id }}Image">
    <div class="modal__actions">
      <a id="{{ modal_id }}LinkScryfall" class="btn btn--primary" href="#" target="_blank">View on Scryfall</a>
      <a id="{{ modal_id }}LinkEdhrec" class="btn btn--secondary" href="#" target="_blank">View on EDHREC</a>
    </div>
  </div>
</div>
{% endmacro %}

