{% extends "base.html.j2" %}
{% from "_macros.html.j2" import color_table %}

{% block title %}{{ player_name }} Stats{% endblock %}

{% block content %}
  <h1 class="page-title">{{ player_name }}'s Stats</h1>

  <h2 class="section-title">Overall</h2>
  <p>Games Played: {{ stats.games_played }}</p>
  <p>Wins: {{ stats.wins }}</p>
  <p>Win Rate: {{ stats.win_rate }}%</p>

  <h2 class="section-title">Commanders Played</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="table-header">Commander</th>
        <th class="table-header">Games Played</th>
        <th class="table-header">Wins</th>
        <th class="table-header">Win Rate (%)</th>
      </tr>
    </thead>
    <tbody>
      {% for c in commanders %}
      <tr>
        <td class="table-cell">{{ c.commander_name }}</td>
        <td class="table-cell">{{ c.games_played }}</td>
        <td class="table-cell">{{ c.wins }}</td>
        <td class="table-cell">{{ c.win_rate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Most Played Colors for {{ player_name }}</h2>
  {{ color_table(color_stats) }}
{% endblock %}
